*.vhd
*.app
*.xml
*.yml
*.bc
*.adb
*.txt
*.vdb
*.rtti
*.type
*.ini
*.edf
*.reloc
*.rlx
*.xdbg
*.mem
*.svtype
*.pb
*.sh
*.rpt
*.jou
*.v
*.ll
*.protoinst
*.ll
*.aps
*.autopilot_exit
*wcfg
*.so
*xsim*
*.hcp
*.g
*style*
*.png
*.csv
*.directive
*.root
*.h5
*.tcl
*.cpp
*.h
*.json
*checkpoint.ipynb
*.log
*.out
*.err
